define([], function(){

	var c = {
		AWS : {
      identityPoolId: '',
      region: 'us-east-1',
      s3RawBucket : '',
      resourcesCountTable : "resources-counter",
      snapshotTable : "snapshot"
    },
    defaultCameraId : "",
		durationBtwSnap : 5400
	};
	return c;
});
